body {
    background-image: url("../images/friends3.jpg");
    background-size: cover;
    /* background: blue; */
}

.display-3 {
    color: white;
}

#time-left {
    color: white;
}

#questions {
    background: white;
    z-index: 2;
}

.hide {
    visibility: hidden;
    margin-top: 10px; 
    margin-bottom: 10px;
}

.grade {
     background: white; 
}