body {
    background-image: url("/assets/images/friends1.jpg") no-repeat center fixed;
    background-size: cover;
    /* background: blue; */
}

#questions {
    background: white;
    z-index: 2;
}

.hide {
    visibility: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.grade {
    background: white;
}